.homeworld-main {
    background: url("https://freepngimg.com/thumb/star_wars/5-2-star-wars-ship-vector-png.png") no-repeat;
    background-size: 400px auto;
    background-position: bottom left;
    height: 100%;
}

.detail-key {
    color: #999;
    font-size: 0.8em;
    padding-bottom: 0.8em;
}

.details {
    padding: 1.5em 0;
}