<div class="container main-character-list">
  <div class="row">
    <app-header [headerText]="'Star Wars Characters'"></app-header>

    <div class="list">
      <ul class="list-group" [attr.data-cy]="'characters-container'">
        <li
          *ngFor="let character of characters$ | async"
          class="list-group-item"
          [attr.data-cy]="'character-list'"
        >
          <a class="nav-link" (click)="onCharacterClick(character)">{{
            character.name
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <div class="container">
    <div class="row" style="display: flex; align-items: center">
      <nav aria-label="pagination">
        <ul class="pagination pagination-md">
          <li
            class="page-item"
            *ngFor="let page of totalPages"
            [ngClass]="{ active: selectedPage === page }"
            [attr.data-cy-page-item]="page"
          >
            <a
              class="page-link"
              (click)="onPaginationClick(page)"
              [attr.data-cy-page]="page"
              >{{ page }}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
