.home {
    // background: rgb(9,69,121);
    // background: linear-gradient(184deg, rgba(9,69,121,1) 0%, rgba(238,252,255,1) 100%);
    background: url("https://www.freeiconspng.com/thumbs/star-wars-png/high-resolution-star-wars-png-icon-29.png") no-repeat;
    background-size: 260px auto;
    background-position: right bottom;
    height: 100%;
}
